<form class="o-forms" [formGroup]="registerFormGroup" autocomplete="off" (ngSubmit)="onRegister()">
    <div class="o-forms__container-fields">
        <div class="o-forms__field">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">

                <mat-error *ngIf="getField('name')?.errors?.required">
                    Name is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="o-forms__field">
            <mat-form-field appearance="fill">
                <mat-label class="o-forms__field__label">Email</mat-label>
                <input matInput formControlName="email">

                <mat-error *ngIf="getField('email')?.errors?.required">
                    Email is required
                </mat-error>
                <mat-error *ngIf="!getField('name')?.errors?.required && getField('name')?.errors?.pattern">
                    Please enter a valid email
                </mat-error>
            </mat-form-field>
        </div>

        <div class="o-forms__field">
            <mat-form-field appearance="fill">
                <mat-label class="o-forms__field__label">Password</mat-label>
                <input matInput formControlName="password" type="password" required [type]="!hide ? 'password' : 'text'">

                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>

                <mat-error *ngIf="getField('password')?.errors?.required">
                    Password is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="o-forms__field">
            <mat-form-field appearance="fill">
                <mat-label class="o-forms__field__label">Confirm Pasword</mat-label>
                <input matInput formControlName="confirmPassword" type="password" [type]="!hideConfirm ? 'password' : 'text'" required>

                <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                    <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>

                <mat-error *ngIf="getField('confirmPassword')?.errors?.required">
                    Confirm your password
                </mat-error>
                <mat-error *ngIf="!getField('confirmPassword')?.errors?.required && getField('confirmPassword')?.errors?.doesMatchPassword">
                    Passwords doesn't match
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="o-forms__actions t-center">
        <button mat-raised-button type="submit" color="primary" [disabled]="!registerFormGroup.valid">Register</button>
    </div>

    <div class="mt-30 t-center">
        <a (click)="goTo('login')" class="register-action d-block t-center">Already have an account? Sign In</a>
    </div>
</form>
