{{#each question.options}}

{{/each}}

<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#FFFFFF" style="display: block;">
  <tbody>
    <tr>
      <td>

        <table width="600" height="710" cellpadding="0" cellspacing="0" border="0" align="center" style="display: block;">
          <tbody>
            <tr>
              <td width="600" height="710" align="center" valign="top"><img border="0" style="display: block; min-width: 600px;" width="600" height="710" src="cid:header" alt="ANDINA" /></td>
            </tr>
          </tbody>
        </table>
        
        <table width="600" style="background-color: #FBFBFB; padding-bottom: 25px;" cellpadding="0" cellspacing="0" border="0" align="center" style="display: block;">
          <tbody>
            {{#each results}}
              <tr>
                <td width="600" align="center" valign="middle">
                  <img src="cid:image-{{this}}" alt="" style="margin-top: 15px; margin-left: auto; margin-right: auto; display:block; margin-bottom: 15px; max-height: 100px; max-width: 240px">
                  {{#ifEquals this 'financiar'}}
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Leonardo Pérez</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Email: <a style="text-decoration: none; font-size: inherit; font-family: inherit;" href="mailto:auxiliar1.comercial@financiar.com.co">auxiliar1.comercial@financiar.com.co</a> - <a href="mailto:auxiliar2.comercial@financiar.com.co">auxiliar2.comercial@financiar.com.co</a></p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Cel: 322 8848470 - 310 5594022</p>
                  {{/ifEquals}}

                  {{#ifEquals this 'finky'}}
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Cel: 3176375498</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Correo: <a style="text-decoration: none; font-size: inherit; font-family: inherit;" href="mailto:contacto@finky.la">contacto@finky.la</a></p>
                  {{/ifEquals}}

                  {{#ifEquals this 'fincomercio'}}
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Maria Claudia Zubieta Mozo</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Cel: 313 451 80 96</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Tel: 381 18 20 Ext 2515</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Correo: <a style="text-decoration: none; font-size: inherit; font-family: inherit;" href="mailto:uareaandina@fincomercio.com">uareaandina@fincomercio.com</a></p>
                  {{/ifEquals}}

                  {{#ifEquals this 'banco-bogota'}}
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Carlos Murillo</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Cel: 319 2594911</p>
                  {{/ifEquals}}

                  {{#ifEquals this 'banco-av-villas'}}
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Alexander Medina Orozco</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Cel: 318 3190697</p>
                  {{/ifEquals}}

                  {{#ifEquals this 'comultrasan'}}
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Carlos Ramirez</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Cel: 313 3125025</p>
                  {{/ifEquals}}

                  {{#ifEquals this 'colfuturo'}}
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Colfuturo</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Tel: (1) 232 4733</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Cel: 318 7115005 - 318 3817970</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Correo: <a style="text-decoration: none; font-size: inherit; font-family: inherit;" href="mailto:auxoperativabogota@coopfuturo.com.co">auxoperativabogota@coopfuturo.com.co</a> - <a style="text-decoration: none; font-size: inherit; font-family: inherit;" href="mailto:direccionbogota@coopfuturo.com.co">direccionbogota@coopfuturo.com.co</a></p>
                  {{/ifEquals}}

                  {{#ifEquals this 'banco-pichincha'}}
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Sandra Aguilar</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Tel: 650 1050 Ext. 813001</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Cel: 300 2903460 - 319 4259600</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Correo: <a style="text-decoration: none; font-size: inherit; font-family: inherit;" href="mailto:sandra.aguilar@pichincha.com.co">sandra.aguilar@pichincha.com.co</a></p>
                  {{/ifEquals}}

                  {{#ifEquals this 'sufi'}}
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px">Tel: 01 8000 517 834</p>
                    <p style="margin-top: 0; margin-bottom: 5px; font-size: 14px; line-height: 16px"><a style="text-decoration: none; font-size: inherit; font-family: inherit;" href="https://sufi.grupobancolombia.com/ " target="_blank">https://sufi.grupobancolombia.com/ </a></p>
                  {{/ifEquals}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <table width="600" height="123" cellpadding="0" cellspacing="0" border="0" align="center" style="display: block;">
          <tbody>
            <tr>
              <td width="600" height="123" align="center" valign="top"><img border="0" style="display: block; min-width: 600px;" width="600" height="137" src="cid:footer" alt="ANDINA" /></td>
            </tr>
          </tbody>
        </table>
        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="display: block;">
          <tbody>
            <tr>
              <td width="600" align="center" valign="top"><p style="margin-bottom: 0; font-size: 14px; line-height: 16px">Mayor Información</p></td>
            </tr>
            <tr>
              <td width="600" align="center" valign="top"><p style="margin-top: 8px; margin-bottom: 5px; font-size: 14px; line-height: 16px"><a style="text-decoration: none; font-size: inherit; font-family: inherit;" href="https://www.areandina.edu.co/es/content/entidades-financieras">https://www.areandina.edu.co/es/content/entidades-financieras</a></p></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>