$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;

$color-black: #000000;
$color-white: #FFFFFF;

$color-primary: #001A49;
$color-accent: #E9337B;

$color-danger: #f44336;
$color-red: #FA696A;
$color-text: #000000;

$color-link: $color-danger;
$color-error: $color-danger;

$font: 'Ubuntu', sans-serif;
$font-paragraph-size: 16px;
$forms-font-size: 18px;
