@import "src/styles/base/variables";
@import "src/styles/base/utils";
@import 'src/styles/packages/gridlex/gridlex';
@import "src/styles/base/grid";

.o-header {
  padding-top: 15px;
  padding-bottom: 15px;

  > .container {
    position: relative;
  }

  &__brand {
    text-align: center;

    img {
      width: 160px;
    }
  }

  &__menu {
    position: absolute;
    right: 10px;
  }
}
