<section class="p-profile">
  <meet-app-loader [show]="(isLoading$ | async)!" [overlay]="true"></meet-app-loader>

  <div class="p-profile__container container mat-elevation-z2">
    <form class="o-forms" [formGroup]="profileFormGroup" autocomplete="false" (ngSubmit)="onUpdateProfile()">
      <h2 class="o-forms__title">Profile</h2>
      
      <div class="o-forms__container-fields">
        <div class="o-forms__field">
          <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">

              <mat-error *ngIf="getField('name')?.errors?.required">
                  Name is required
              </mat-error>
          </mat-form-field>
        </div>

        <div class="o-forms__field">
          <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">

              <mat-error *ngIf="getField('email')?.errors?.required">
                  Email is required
              </mat-error>
              <mat-error *ngIf="!getField('email')?.errors?.required && getField('email')?.errors?.pattern">
                  Please enter a valid email
              </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="o-forms__actions t-center">
        <button mat-raised-button type="submit" color="primary" [disabled]="!profileFormGroup.valid">Update Profile</button>
      </div>
    </form>
  </div>
</section>
